.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-direction: column;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}
.loadercircle {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.loadercircle::before,
.loadercircle::after {
    content: '';
    border: 10px solid #ccc;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loadercircle::before {
    animation-delay: 1s;
}

@keyframes loader {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}


/* From uiverse.io by @G4b413l */
.scanner h1 {
    color: transparent;
    font-size: 2em;
    position: relative;
    overflow: hidden;
   }
   
   .scanner h1::before {
    content: "Loading ...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #ffffff;
    overflow: hidden;
    color: #ffffff;
    animation: load91371 2s linear infinite;
   }
   
   @keyframes load91371 {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: rgb(213, 206, 255);
    }
   
    60%, 80% {
     width: 100%;
    }
   }