@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0a0716;
  color: white;
  font-family: 'Roboto', sans-serif;

  cursor: auto;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left{
  display: none;
}

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  /* cursor: grab; */
  cursor: auto;
}
.mapboxgl-popup-content {
  padding: 1em ;
}
.popup{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2em;
  
}